In [1]:
import pandas as pd
from pandasql import sqldf
from pandasql import load_births
births = load_births()
print(sqldf("SELECT * FROM births where births > 250000 limit 5;", locals()))

                         date  births
0  1975-01-01 00:00:00.000000  265775
1  1975-03-01 00:00:00.000000  268849
2  1975-05-01 00:00:00.000000  254545
3  1975-06-01 00:00:00.000000  254096
4  1975-07-01 00:00:00.000000  275163

In [3]:
q = """
        select
            date(date) as DOB,
            sum(births) as "Total Births"
        from
            births
        group by
            date
            limit 10;
"""
# locals vs globals. use globals in function to hardcode it.
print(sqldf(q, locals()))

          DOB  Total Births
0  1975-01-01        265775
1  1975-02-01        241045
2  1975-03-01        268849
3  1975-04-01        247455
4  1975-05-01        254545
5  1975-06-01        254096
6  1975-07-01        275163
7  1975-08-01        281300
8  1975-09-01        270738
9  1975-10-01        265494

In [4]:
def pysqldf(q):
    return sqldf(q, globals())

In [5]:
print(pysqldf(q))

          DOB  Total Births
0  1975-01-01        265775
1  1975-02-01        241045
2  1975-03-01        268849
3  1975-04-01        247455
4  1975-05-01        254545
5  1975-06-01        254096
6  1975-07-01        275163
7  1975-08-01        281300
8  1975-09-01        270738
9  1975-10-01        265494

In [6]:
%pwd

'/home/sachi/DataAnalysis'

In [7]:
filepath = './db/'
dfcustomer = pd.read_csv(filepath + 'customer.csv')

In [8]:
dfcustomer.head()

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,NaN,Theodor-Heuss-Straße 34,Stuttgart,NaN,Germany,70174,+49 0711 2842222,NaN,leonekohler@surfeu.de,5
2,3,François,Tremblay,NaN,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,NaN,ftremblay@gmail.com,3
3,4,Bjørn,Hansen,NaN,Ullevålsveien 14,Oslo,NaN,Norway,0171,+47 22 44 22 22,NaN,bjorn.hansen@yahoo.no,4
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,NaN,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4

In [10]:
#remove pandas index
dfcustomer.set_index('CustomerId', inplace=True)

In [11]:
dfcustomer

,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
CustomerId,,,,,,,,,,,,
1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
2,Leonie,Köhler,NaN,Theodor-Heuss-Straße 34,Stuttgart,NaN,Germany,70174,+49 0711 2842222,NaN,leonekohler@surfeu.de,5
3,François,Tremblay,NaN,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,NaN,ftremblay@gmail.com,3
4,Bjørn,Hansen,NaN,Ullevålsveien 14,Oslo,NaN,Norway,0171,+47 22 44 22 22,NaN,bjorn.hansen@yahoo.no,4
5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,NaN,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4
6,Helena,Holý,NaN,Rilská 3174/6,Prague,NaN,Czech Republic,14300,+420 2 4177 0449,NaN,hholy@gmail.com,5
7,Astrid,Gruber,NaN,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,NaN,Austria,1010,+43 01 5134505,NaN,astrid.gruber@apple.at,5
8,Daan,Peeters,NaN,Grétrystraat 63,Brussels,NaN,Belgium,1000,+32 02 219 03 03,NaN,daan_peeters@apple.be,4
9,Kara,Nielsen,NaN,Sønder Boulevard 51,Copenhagen,NaN,Denmark,1720,+453 3331 9991,NaN,kara.nielsen@jubii.dk,4
10,Eduardo,Martins,Woodstock Discos,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br,4
11,Alexandre,Rocha,Banco do Brasil S.A.,"Av. Paulista, 2022",São Paulo,SP,Brazil,01310-200,+55 (11) 3055-3278,+55 (11) 3055-8131,alero@uol.com.br,5
12,Roberto,Almeida,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3
13,Fernanda,Ramos,NaN,Qe 7 Bloco G,Brasília,DF,Brazil,71020-677,+55 (61) 3363-5547,+55 (61) 3363-7855,fernadaramos4@uol.com.br,4
14,Mark,Philips,Telus,8210 111 ST NW,Edmonton,AB,Canada,T6G 2C7,+1 (780) 434-4554,+1 (780) 434-5565,mphilips12@shaw.ca,5
15,Jennifer,Peterson,Rogers Canada,700 W Pender Street,Vancouver,BC,Canada,V6C 1G8,+1 (604) 688-2255,+1 (604) 688-8756,jenniferp@rogers.ca,3
16,Frank,Harris,Google Inc.,1600 Amphitheatre Parkway,Mountain View,CA,USA,94043-1351,+1 (650) 253-0000,+1 (650) 253-0000,fharris@google.com,4
17,Jack,Smith,Microsoft Corporation,1 Microsoft Way,Redmond,WA,USA,98052-8300,+1 (425) 882-8080,+1 (425) 882-8081,jacksmith@microsoft.com,5
18,Michelle,Brooks,NaN,627 Broadway,New York,NY,USA,10012-2612,+1 (212) 221-3546,+1 (212) 221-4679,michelleb@aol.com,3
19,Tim,Goyer,Apple Inc.,1 Infinite Loop,Cupertino,CA,USA,95014,+1 (408) 996-1010,+1 (408) 996-1011,tgoyer@apple.com,3
20,Dan,Miller,NaN,541 Del Medio Avenue,Mountain View,CA,USA,94040-111,+1 (650) 644-3358,NaN,dmiller@comcast.com,4
21,Kathy,Chase,NaN,801 W 4th Street,Reno,NV,USA,89503,+1 (775) 223-7665,NaN,kachase@hotmail.com,5
22,Heather,Leacock,NaN,120 S Orange Ave,Orlando,FL,USA,32801,+1 (407) 999-7788,NaN,hleacock@gmail.com,4
23,John,Gordon,NaN,69 Salem Street,Boston,MA,USA,2113,+1 (617) 522-1333,NaN,johngordon22@yahoo.com,4
24,Frank,Ralston,NaN,162 E Superior Street,Chicago,IL,USA,60611,+1 (312) 332-3232,NaN,fralston@gmail.com,3
25,Victor,Stevens,NaN,319 N. Frances Street,Madison,WI,USA,53703,+1 (608) 257-0597,NaN,vstevens@yahoo.com,5
26,Richard,Cunningham,NaN,2211 W Berry Street,Fort Worth,TX,USA,76110,+1 (817) 924-7272,NaN,ricunningham@hotmail.com,4
27,Patrick,Gray,NaN,1033 N Park Ave,Tucson,AZ,USA,85719,+1 (520) 622-4200,NaN,patrick.gray@aol.com,4
28,Julia,Barnett,NaN,302 S 700 E,Salt Lake City,UT,USA,84102,+1 (801) 531-7272,NaN,jubarnett@gmail.com,5
29,Robert,Brown,NaN,796 Dundas Street West,Toronto,ON,Canada,M6J 1V1,+1 (416) 363-8888,NaN,robbrown@shaw.ca,3
30,Edward,Francis,NaN,230 Elgin Street,Ottawa,ON,Canada,K2P 1L7,+1 (613) 234-3322,NaN,edfrancis@yachoo.ca,3
31,Martha,Silk,NaN,194A Chain Lake Drive,Halifax,NS,Canada,B3S 1C5,+1 (902) 450-0450,NaN,marthasilk@gmail.com,5
32,Aaron,Mitchell,NaN,696 Osborne Street,Winnipeg,MB,Canada,R3L 2B9,+1 (204) 452-6452,NaN,aaronmitchell@yahoo.ca,4
33,Ellie,Sullivan,NaN,5112 48 Street,Yellowknife,NT,Canada,X1A 1N6,+1 (867) 920-2233,NaN,ellie.sullivan@shaw.ca,3
34,João,Fernandes,NaN,Rua da Assunção 53,Lisbon,NaN,Portugal,NaN,+351 (213) 466-111,NaN,jfernandes@yahoo.pt,4
35,Madalena,Sampaio,NaN,"Rua dos Campeões Europeus de Viena, 4350",Porto,NaN,Portugal,NaN,+351 (225) 022-448,NaN,masampaio@sapo.pt,4
36,Hannah,Schneider,NaN,Tauentzienstraße 8,Berlin,NaN,Germany,10789,+49 030 26550280,NaN,hannah.schneider@yahoo.de,5
37,Fynn,Zimmermann,NaN,Berger Straße 10,Frankfurt,NaN,Germany,60316,+49 069 40598889,NaN,fzimmermann@yahoo.de,3
38,Niklas,Schröder,NaN,Barbarossastraße 19,Berlin,NaN,Germany,10779,+49 030 2141444,NaN,nschroder@surfeu.de,3
39,Camille,Bernard,NaN,"4, Rue Milton",Paris,NaN,France,75009,+33 01 49 70 65 65,NaN,camille.bernard@yahoo.fr,4
40,Dominique,Lefebvre,NaN,"8, Rue Hanovre",Paris,NaN,France,75002,+33 01 47 42 71 71,NaN,dominiquelefebvre@gmail.com,4
41,Marc,Dubois,NaN,"11, Place Bellecour",Lyon,NaN,France,69002,+33 04 78 30 30 30,NaN,marc.dubois@hotmail.com,5
42,Wyatt,Girard,NaN,"9, Place Louis Barthou",Bordeaux,NaN,France,33000,+33 05 56 96 96 96,NaN,wyatt.girard@yahoo.fr,3
43,Isabelle,Mercier,NaN,"68, Rue Jouvence",Dijon,NaN,France,21000,+33 03 80 73 66 99,NaN,isabelle_mercier@apple.fr,3
44,Terhi,Hämäläinen,NaN,Porthaninkatu 9,Helsinki,NaN,Finland,00530,+358 09 870 2000,NaN,terhi.hamalainen@apple.fi,3
45,Ladislav,Kovács,NaN,Erzsébet krt. 58.,Budapest,NaN,Hungary,H-1073,NaN,NaN,ladislav_kovacs@apple.hu,3
46,Hugh,O'Reilly,NaN,3 Chatham Street,Dublin,Dublin,Ireland,NaN,+353 01 6792424,NaN,hughoreilly@apple.ie,3
47,Lucas,Mancini,NaN,"Via Degli Scipioni, 43",Rome,RM,Italy,00192,+39 06 39733434,NaN,lucas.mancini@yahoo.it,5
48,Johannes,Van der Berg,NaN,Lijnbaansgracht 120bg,Amsterdam,VV,Netherlands,1016,+31 020 6223130,NaN,johavanderberg@yahoo.nl,5
49,Stanisław,Wójcik,NaN,Ordynacka 10,Warsaw,NaN,Poland,00-358,+48 22 828 37 39,NaN,stanisław.wójcik@wp.pl,4
50,Enrique,Muñoz,NaN,C/ San Bernardo 85,Madrid,NaN,Spain,28015,+34 914 454 454,NaN,enrique_munoz@yahoo.es,5
51,Joakim,Johansson,NaN,Celsiusg. 9,Stockholm,NaN,Sweden,11230,+46 08-651 52 52,NaN,joakim.johansson@yahoo.se,5
52,Emma,Jones,NaN,202 Hoxton Street,London,NaN,United Kingdom,N1 5LH,+44 020 7707 0707,NaN,emma_jones@hotmail.com,3
53,Phil,Hughes,NaN,113 Lupus St,London,NaN,United Kingdom,SW1V 3EN,+44 020 7976 5722,NaN,phil.hughes@gmail.com,3
54,Steve,Murray,NaN,110 Raeburn Pl,Edinburgh,NaN,United Kingdom,EH4 1HH,+44 0131 315 3300,NaN,steve.murray@yahoo.uk,5
55,Mark,Taylor,NaN,421 Bourke Street,Sidney,NSW,Australia,2010,+61 (02) 9332 3633,NaN,mark.taylor@yahoo.au,4
56,Diego,Gutiérrez,NaN,307 Macacha Güemes,Buenos Aires,NaN,Argentina,1106,+54 (0)11 4311 4333,NaN,diego.gutierrez@yahoo.ar,4
57,Luis,Rojas,NaN,"Calle Lira, 198",Santiago,NaN,Chile,NaN,+56 (0)2 635 4444,NaN,luisrojas@yahoo.cl,5
58,Manoj,Pareek,NaN,"12,Community Centre",Delhi,NaN,India,110017,+91 0124 39883988,NaN,manoj.pareek@rediff.com,3
59,Puja,Srivastava,NaN,"3,Raj Bhavan Road",Bangalore,NaN,India,560001,+91 080 22289999,NaN,puja_srivastava@yahoo.in,3

In [12]:
dfcustomer.dtypes

FirstName       object
LastName        object
Company         object
Address         object
City            object
State           object
Country         object
PostalCode      object
Phone           object
Fax             object
Email           object
SupportRepId     int64
dtype: object

In [13]:
dfcustomer.Country.value_counts()

USA               13
Canada             8
Brazil             5
France             5
Germany            4
United Kingdom     3
Czech Republic     2
India              2
Portugal           2
Hungary            1
Poland             1
Chile              1
Sweden             1
Australia          1
Italy              1
Spain              1
Denmark            1
Austria            1
Finland            1
Belgium            1
Netherlands        1
Argentina          1
Ireland            1
Norway             1
Name: Country, dtype: int64

In [23]:
df = dfcustomer.groupby(['Country', 'SupportRepId'])

In [25]:
df

In [28]:
df.describe()

                            FirstName                        LastName         \
                                count unique        top freq    count unique
Country        SupportRepId
Argentina      4                    1      1      Diego    1        1      1
Australia      4                    1      1       Mark    1        1      1
Austria        5                    1      1     Astrid    1        1      1
Belgium        4                    1      1       Daan    1        1      1
Brazil         3                    2      2    Roberto    1        2      2
               4                    2      2   Fernanda    1        2      2
               5                    1      1  Alexandre    1        1      1
Canada         3                    5      5     Robert    1        5      5
               4                    1      1      Aaron    1        1      1
               5                    2      2       Mark    1        2      2
Chile          5                    1      1       Luis    1        1      1
Czech Republic 4                    1      1  František    1        1      1
               5                    1      1     Helena    1        1      1
Denmark        4                    1      1       Kara    1        1      1
Finland        3                    1      1      Terhi    1        1      1
France         3                    2      2   Isabelle    1        2      2
               4                    2      2    Camille    1        2      2
               5                    1      1       Marc    1        1      1
Germany        3                    2      2       Fynn    1        2      2
               5                    2      2     Hannah    1        2      2
Hungary        3                    1      1   Ladislav    1        1      1
India          3                    2      2       Puja    1        2      2
Ireland        3                    1      1       Hugh    1        1      1
Italy          5                    1      1      Lucas    1        1      1
Netherlands    5                    1      1   Johannes    1        1      1
Norway         4                    1      1      Bjørn    1        1      1
Poland         4                    1      1  Stanisław    1        1      1
Portugal       4                    2      2   Madalena    1        2      2
Spain          5                    1      1    Enrique    1        1      1
Sweden         5                    1      1     Joakim    1        1      1
USA            3                    3      3   Michelle    1        3      3
               4                    6      6    Richard    1        6      6
               5                    4      4      Julia    1        4      4
United Kingdom 3                    2      2       Emma    1        2      2
               5                    1      1      Steve    1        1      1

                                               Company         ...  \
                                      top freq   count unique  ...
Country        SupportRepId                                    ...
Argentina      4                Gutiérrez    1       0      0  ...
Australia      4                   Taylor    1       0      0  ...
Austria        5                   Gruber    1       0      0  ...
Belgium        4                  Peeters    1       0      0  ...
Brazil         3                Gonçalves    1       2      2  ...
               4                  Martins    1       1      1  ...
               5                    Rocha    1       1      1  ...
Canada         3                    Brown    1       1      1  ...
               4                 Mitchell    1       0      0  ...
               5                  Philips    1       1      1  ...
Chile          5                    Rojas    1       0      0  ...
Czech Republic 4              Wichterlová    1       1      1  ...
               5                     Holý    1       0      0  ...
Denmark        4                  Nielsen    1       0      0  ...
Finland        3               Hämäläinen    1       0      0  ...
France         3                   Girard    1       0      0  ...
               4                  Bernard    1       0      0  ...
               5                   Dubois    1       0      0  ...
Germany        3               Zimmermann    1       0      0  ...
               5                   Köhler    1       0      0  ...
Hungary        3                   Kovács    1       0      0  ...
India          3               Srivastava    1       0      0  ...
Ireland        3                 O'Reilly    1       0      0  ...
Italy          5                  Mancini    1       0      0  ...
Netherlands    5             Van der Berg    1       0      0  ...
Norway         4                   Hansen    1       0      0  ...
Poland         4                   Wójcik    1       0      0  ...
Portugal       4                  Sampaio    1       0      0  ...
Spain          5                    Muñoz    1       0      0  ...
Sweden         5                Johansson    1       0      0  ...
USA            3                    Goyer    1       1      1  ...
               4                   Gordon    1       1      1  ...
               5                  Barnett    1       1      1  ...
United Kingdom 3                    Jones    1       0      0  ...
               5                   Murray    1       0      0  ...

                                           Phone        Fax         \
                                             top freq count unique
Country        SupportRepId
Argentina      4             +54 (0)11 4311 4333    1     0      0
Australia      4              +61 (02) 9332 3633    1     0      0
Austria        5                  +43 01 5134505    1     0      0
Belgium        4                +32 02 219 03 03    1     0      0
Brazil         3              +55 (12) 3923-5555    1     2      2
               4              +55 (11) 3033-5446    1     2      2
               5              +55 (11) 3055-3278    1     1      1
Canada         3               +1 (613) 234-3322    1     1      1
               4               +1 (204) 452-6452    1     0      0
               5               +1 (780) 434-4554    1     1      1
Chile          5               +56 (0)2 635 4444    1     0      0
Czech Republic 4                +420 2 4172 5555    1     1      1
               5                +420 2 4177 0449    1     0      0
Denmark        4                  +453 3331 9991    1     0      0
Finland        3                +358 09 870 2000    1     0      0
France         3              +33 03 80 73 66 99    1     0      0
               4              +33 01 49 70 65 65    1     0      0
               5              +33 04 78 30 30 30    1     0      0
Germany        3                +49 069 40598889    1     0      0
               5                +49 0711 2842222    1     0      0
Hungary        3                             NaN  NaN     0      0
India          3               +91 0124 39883988    1     0      0
Ireland        3                 +353 01 6792424    1     0      0
Italy          5                 +39 06 39733434    1     0      0
Netherlands    5                 +31 020 6223130    1     0      0
Norway         4                 +47 22 44 22 22    1     0      0
Poland         4                +48 22 828 37 39    1     0      0
Portugal       4              +351 (225) 022-448    1     0      0
Spain          5                 +34 914 454 454    1     0      0
Sweden         5                +46 08-651 52 52    1     0      0
USA            3               +1 (312) 332-3232    1     2      2
               4               +1 (407) 999-7788    1     1      1
               5               +1 (801) 531-7272    1     1      1
United Kingdom 3               +44 020 7707 0707    1     0      0
               5               +44 0131 315 3300    1     0      0

                                                     Email         \
                                            top freq count unique
Country        SupportRepId
Argentina      4                            NaN  NaN     1      1
Australia      4                            NaN  NaN     1      1
Austria        5                            NaN  NaN     1      1
Belgium        4                            NaN  NaN     1      1
Brazil         3             +55 (21) 2271-7070    1     2      2
               4             +55 (61) 3363-7855    1     2      2
               5             +55 (11) 3055-8131    1     1      1
Canada         3              +1 (604) 688-8756    1     5      5
               4                            NaN  NaN     1      1
               5              +1 (780) 434-5565    1     2      2
Chile          5                            NaN  NaN     1      1
Czech Republic 4               +420 2 4172 5555    1     1      1
               5                            NaN  NaN     1      1
Denmark        4                            NaN  NaN     1      1
Finland        3                            NaN  NaN     1      1
France         3                            NaN  NaN     2      2
               4                            NaN  NaN     2      2
               5                            NaN  NaN     1      1
Germany        3                            NaN  NaN     2      2
               5                            NaN  NaN     2      2
Hungary        3                            NaN  NaN     1      1
India          3                            NaN  NaN     2      2
Ireland        3                            NaN  NaN     1      1
Italy          5                            NaN  NaN     1      1
Netherlands    5                            NaN  NaN     1      1
Norway         4                            NaN  NaN     1      1
Poland         4                            NaN  NaN     1      1
Portugal       4                            NaN  NaN     2      2
Spain          5                            NaN  NaN     1      1
Sweden         5                            NaN  NaN     1      1
USA            3              +1 (408) 996-1011    1     3      3
               4              +1 (650) 253-0000    1     6      6
               5              +1 (425) 882-8081    1     4      4
United Kingdom 3                            NaN  NaN     2      2
               5                            NaN  NaN     1      1


                                                     top freq
Country        SupportRepId
Argentina      4                diego.gutierrez@yahoo.ar    1
Australia      4                    mark.taylor@yahoo.au    1
Austria        5                  astrid.gruber@apple.at    1
Belgium        4                   daan_peeters@apple.be    1
Brazil         3                    luisg@embraer.com.br    1
               4                fernadaramos4@uol.com.br    1
               5                        alero@uol.com.br    1
Canada         3                  ellie.sullivan@shaw.ca    1
               4                  aaronmitchell@yahoo.ca    1
               5                      mphilips12@shaw.ca    1
Chile          5                      luisrojas@yahoo.cl    1
Czech Republic 4                frantisekw@jetbrains.com    1
               5                         hholy@gmail.com    1
Denmark        4                   kara.nielsen@jubii.dk    1
Finland        3               terhi.hamalainen@apple.fi    1
France         3                   wyatt.girard@yahoo.fr    1
               4             dominiquelefebvre@gmail.com    1
               5                 marc.dubois@hotmail.com    1
Germany        3                     nschroder@surfeu.de    1
               5                   leonekohler@surfeu.de    1
Hungary        3                ladislav_kovacs@apple.hu    1
India          3                puja_srivastava@yahoo.in    1
Ireland        3                    hughoreilly@apple.ie    1
Italy          5                  lucas.mancini@yahoo.it    1
Netherlands    5                 johavanderberg@yahoo.nl    1
Norway         4                   bjorn.hansen@yahoo.no    1
Poland         4                  stanisław.wójcik@wp.pl    1
Portugal       4                       masampaio@sapo.pt    1
Spain          5                  enrique_munoz@yahoo.es    1
Sweden         5               joakim.johansson@yahoo.se    1
USA            3                      fralston@gmail.com    1
               4                      fharris@google.com    1
               5                     kachase@hotmail.com    1
United Kingdom 3                  emma_jones@hotmail.com    1
               5                   steve.murray@yahoo.uk    1

[35 rows x 40 columns]

In [29]:
dfcustomer.describe()

       SupportRepId
count     59.000000
mean       3.949153
std        0.818403
min        3.000000
25%        3.000000
50%        4.000000
75%        5.000000
max        5.000000